apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubeshare-config
  namespace: kube-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubeshare-config
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubeshare-config
subjects:
- kind: ServiceAccount
  name: kubeshare-config
  namespace: kube-system
roleRef:
  kind: ClusterRole
  name: kubeshare-config
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kubeshare-node-daemon
  namespace: kube-system
  labels:
    app: kubeshare-node-daemon
spec:
  selector:
    matchLabels:
      app: kubeshare-node-daemon
  template:
    metadata:
      labels:
        app: kubeshare-node-daemon
    spec:
      serviceAccountName: kubeshare-config
      nodeSelector:
        SharedGPU: "true"
      terminationGracePeriodSeconds: 0
      restartPolicy: Always
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      initContainers:
      - name: kubeshare-query-pod-ip
        image: riyazhu/kubeshare-query-ip:db
        imagePullPolicy: Always
        env:
        - name: KUBESHARE_SCHEDULER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        volumeMounts:
        - name: "kubeshare-library"
          mountPath: /kubeshare/library
      - name: gemini-hook-init
        image: riyazhu/kubeshare-gemini-hook-init:db  #20211108 #20210706124950 #ncy9371/kubeshare-gemini-hook-init:20200429135835
        imagePullPolicy: Always
        volumeMounts:
        - name: "kubeshare-library"
          mountPath: /kubeshare/library  
        - name: "kubeshare-log"
          mountPath: "/kubeshare/log"
      hostNetwork: true
      containers:
      - name: config
        image: riyazhu/kubeshare-config:db #20210706124950
        imagePullPolicy: Always
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        command: ["kubeshare-config"]
        args:
          - --level=3
          - --prometheusURL=http://10.100.132.133:9090
        volumeMounts:
        - name: "kubeshare-scheduler"
          mountPath: "/kubeshare/scheduler"
        - name: "kubeshare-library"
          mountPath: "/kubeshare/library"
        - name: "kubeshare-log"
          mountPath: "/kubeshare/log"
      - name: gemini-scheduler
        image: riyazhu/kubeshare-gemini-scheduler:db #20210706124950 #ncy9371/kubeshare-gemini-scheduler:20200429135835
        imagePullPolicy: Always
        volumeMounts:
        - name: "kubeshare-scheduler"
          mountPath: "/kubeshare/scheduler"
        - name: "kubeshare-library"
          mountPath: "/kubeshare/library"
        - name: "kubeshare-log"
          mountPath: "/kubeshare/log"
      volumes:
      - name: "kubeshare-scheduler"
        hostPath:
          path: "/kubeshare/scheduler"
      - name: "kubeshare-library"
        hostPath:
          path: "/kubeshare/library"
      - name: "kubeshare-log"
        hostPath:
          path: "/kubeshare/log"

